#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

div {
    padding: 0.5rem;

}

[type="header"] {
    background: silver;
}

[type="person"] {
    background: #dedede;
    align-content: center;
}

[type="cell"] {
    border-bottom: #dedede solid 1px;
    border-right: #dedede solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

[hidden] {
    display: none;
}

h2 {
    text-align: center;
    color: var(--cl-primary);
}

svg.icon {
    width: 24px;
    height: 24px;
}